body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



::-webkit-scrollbar {
  width: 40px;
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  width: 80px;
  background-image: url(https://c.tenor.com/uj4Cnt7RVE0AAAAM/fatdog-dog.gif);
  background-position: center bottom, center -40px;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}


.container-fluid {
  -webkit-animation: gradient 30s ease infinite !important;
   animation: gradient 5s ease infinite !important;
   background-size: 150% !important;
   height: 100vh !important;
   justify-content: center;

}

.welcome_title {
  left: 155px;
  font-size: 35px; 
  z-index: 3;
  margin-top: 5px;
}

.active {
  /*border-right: 5px solid rgb(147, 76, 147);*/
   background-color: #7f353580 !important;
   border-radius: 20px;
   
}

.navbar_item {
  color: maroon;
  font-size: 20px;
}

.navbar_item_container {
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  display: block;
  z-index: 3;
}

.menu_main_title {
  font-family: 'Nunito', sans-serif;
  display: inline;
  position: absolute;
  top: 123px;
  left: 277px;
  z-index: 3;
}

.home_title {
  /* font-weight: 300;
  font-family: "Arial Black";
  font-size: 30px; */
  font-family: 'Nunito', sans-serif;
  display: inline;
  position: absolute;
  top: 123px;
  left: 155px;
  z-index: 3;
   /* background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite; */
   /* color: #fff;
   font-size: 8em;
   position: absolute;
   transform: translate(-50%, -50%); */
}

.welcome_title:nth-child(1) {
  color: black;
  -webkit-text-stroke: 1.5px black;
}

.welcome_title:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name_title:nth-child(3) {
  color: black;
  -webkit-text-stroke: 1.5px black;
}

.name_title:nth-child(4) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
  background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.name_title {
  font-size: 40px; 
  z-index: 3;
  left: 316px;

}

.menu_container {
  padding: 100px 130px;
  height: 100vh;
  position:fixed;
  width: 83%;
  top: 50px;
  z-index: 3;
  margin-top: -45px;
  filter: blur(0px) !important;
}

.home_container{
  padding: 170px 130px;
  height: 100vh;
  position:fixed;
  width: 83%;
  top: 50px;
  z-index: 3;
  margin-top: -45px;
  filter: blur(0px) !important;
}

.home_inner_fluid{
  height: 100%;
  z-index: 3;
}

.home_inner_container{
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 3;
}

.home_left{
  width: 60%;
  z-index: 3;
}

.home_left_top{
  width:100%;
  height: 60%;
  padding: 10px;
  z-index: 3;
}

.home_left_bottom{
  height:45%;
  display: flex;
  flex-direction: row;
  z-index: 3;
}
 .home_left_bottom_right{
  width: 50%;
  height: 100%;
  padding: 10px;
  z-index: 3;
 }

 .home_left_bottom_left{
  width: 50%;
  height: 100%;
  padding: 10px;
  z-index: 3;
 }

 .home_right{
  width: 40%;
  height: 105%;
  padding: 10px;
  z-index: 3;
 }

 .home_content{
  background-color: white;
  height:100%;
  width: 100%;
  border-radius: 50px;
  padding: 20px;
  z-index: 3;
  font-family: "Varela Round", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

  /* box-shadow: 10px 5px 5px grey; */
 }

.content_title{
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  left: 1000%;
  top: 400px;
}

.container-fluid{
  /* background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  /* background-color: rgb(239, 239, 239); */
  z-index: 3;
  overflow: hidden;

}

.hr {
  border: 3px solid maroon !important;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 10px;
  z-index: 3;
}

.assignments_content{
  font-weight: 100 !important;
  font-size: 15px;
  z-index: 3;
}

.assignments_container{
  background: white;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  height: 70px !important;
  z-index: 3;
  transform: translateY(-10px);
}

.gap{
  margin: 100px;
}
.top{
  margin-bottom: 10px;
  border-left: 3px solid red;
  z-index: 3;
}

.bottom{
  border-left: 3px solid orange;
  z-index: 3;
}

.arrow_container{
  text-align: center;
  transform: translateY(38%);
  z-index: 3;
}
.down_arrow{
  font-size: 30px;
  z-index: 3;
}

.assignments_container_time{
  border-right: 1px solid black;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 10px;
  top: 50px;
  width: 14%;
  transform: translateY(70%);
  z-index: 3;
  margin-right: 20px;
}


.assignments_assignments{
  font-size: 15px !important;
  margin-top: -56px;
  transform: translateX(17%);
  z-index: 3;
  margin-left: 10px;
}

.assignments_detail{
  font-size: 10px !important;
  transform: translateY(50%);
  margin-left: 103px;
  z-index: 3;
}

.assignments_container_time_2{
  border-right: 1px solid black;
  margin-bottom: 40px;
  margin-top: -80px;
  margin-left: 15px;
  width: 14%;
  transform: translateY(70%);
  z-index: 3;
}


.assignments_assignments_2{
  font-size: 15px !important;
  transform: translateX(17%);
  margin-top: -56px;
  z-index: 3;
  margin-left: 13px;
}

.assignments_detail_2{
  font-size: 10px !important;
  transform: translateY(50%);
  margin-left: 105px;
  z-index: 3;
}

.color_picker{
  width: 150px;
  background-color: white;
  position: absolute;
  height: 70px;
  border-radius: 10px;
  z-index: 3;
  right: 5px;
  bottom: 40px;
}

.popup {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 1000;
  height: 200px;
  width: 200px;
}

.color_button{
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  z-index: 3;
  position: absolute;
  right: 50px;
  float: right;
  bottom: 0;
  right: 0;
}

.color_option{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: none;
  margin: 9px 9px 5px 8.5px;
  cursor: pointer;
  z-index: 1000 !important;
  float: center;
  line-height: 10px;
  font-size:100px;
  justify-content: center;
  text-align: center;
}

.color_option:hover{
  border: 2px solid white;
}

.option_1{
  background-color: rgb(239, 239, 239);
  background-image: none;
}


.option_2{
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.option_3{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.option_4{
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.color_option_custom{
  margin: 0 auto;
  text-align: center;
  float: center;
  font-size: 10px;
  transform: translate(35%);
  border: none;
  font-family: "Varela Round";
  border-radius: 50px;
}

.modal-content{
  border-radius: 30px ;
  height: 3000%;
}

.colorpickergap{
  margin-top: 10px;
}

.bgselect1container{
  margin-right: 0px;
  display: inline;
  float: right;
}

.wrapper {
  display: grid;
  grid-template-columns: 220px 220px;
  justify-content: center;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  font-family: "Varela Round";
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  justify-content: center;
}

.current_block{
  font-weight: 500 !important;
  font-family: "Varela Round";
  
}

.big_block_container{
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Varela Round';
  margin-top: 10px;
  margin-bottom: 0px;
}

.current_block_name{
  justify-content: center;
  text-align: center;
  margin-top: -10px;
  font-size: 12px;

}

.block_wrapper {
  display: grid;
  margin-top: 15px;
  grid-template-columns: 150px 150px;
  justify-content: center;
  text-align: center;
  background-color: none;
  color: black;
  font-weight: 900;
}

.content_box {
  font-family: "Varela Round";
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  justify-content: center;
}

.grade_title{
  font-weight: 900;
  font-family: "Varela Round";
  margin-bottom: 5px;
}

.grade_container{
  justify-content: center;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 200px 50px;
  font-size: 15px;
  color: black;
}

.grade_inner_content{
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 3;
 }


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover{
  transform: scale(1.5);
}

.class_1{
  border-left:3px solid lightcoral;
  padding-left: 5px;
}

.class_2{
  border-left:3px solid lightsalmon;
  padding-left: 5px;
}

.class_3{
  border-left:3px solid yellow;
  padding-left: 5px;
}

.class_4{
  border-left:3px solid lightgreen;
  padding-left: 5px;
}

.class_5{
  border-left:3px solid lightskyblue;
  padding-left: 5px;
}

.class_6{
  border-left:3px solid lightpink;
  padding-left: 5px;
}

.news_container{
  display:grid;
  background-color: white;
  color: white;
  overflow-y: auto;
  height: 200px !important;
  z-index: -1 !important;
  padding: 0 !important;
}




.news{
  height: 100px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  border-radius: 20px;
  overflow: hidden;
}

.news_heading{
  font: "Nuntio", sans-serif !important;
  padding-top: 8px;
  padding-left: 10px;
  font-weight: 600;
  margin-bottom: 0;
}

.news_content{
  font-family: 'Lato';
  font-size: 13px;
  padding: 0px 10px 20px 10px;
}

.big_container{
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Varela Round';
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: white;
  width: 60%;
  height: 65%;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 30px;
}


.navbar_style{
  height: 63vh;
  background-color: white;
  width: 90px;
  transform: translateY(180px);
  margin-left: 40px;
  border-radius: 30px;
  /* background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)); */
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.lc_logo{
   margin-left: 10px;
}

.grade_page_container > .class_1{
  animation: none;
}

.grade_page_title{
  font-family: 'Nunito', sans-serif;
  display: inline;
  position: absolute;
  top: 123px;
  left: 277px;
  z-index: 3;
}

.grade_inner_container{
  height: 500px;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 3;
}

.schedule_inner_container{
    background-color: white;
    height:100%;
    width: 100%;
    border-radius: 50px;
    padding: 20px;
    z-index: 3;
    font-family: "Varela Round", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    justify-content: center;
    align-items: center;
}

table{
  padding: none;
  width: 95%;
  margin-left: 20px !important;
  margin: 10px;
  text-align: center;
}


th{
  background-color: rgba(128, 0, 0, 0.396);
  color: black;
  padding: 10px;
  padding-left: 20px;
  width: auto;
}

td{
}


.row{
  /* margin-right: -1000px !important; */
  filter: none !important;
}

.news_content_title{
  font-weight: 600;
  margin-left: 5px;
}

.class_grade{
  display: inline;
  float: right;
}

.class_0{
  border-left:3px solid lightcoral;
  padding-left: 5px;
}

.menu_title{
  font-size: 50px;
  position: absolute;
  float: top;
}


.menu_inner_container{
  height: 750px;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 3;
}

.menu_content{
  height: auto;
  background-color: white;
  margin-right: 20px;
  border-radius: 30px;
  margin-top: 10px;
  width: 33%;
}

.meal_title{
  margin-top: 15px;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  height: 40px;
  width: auto;
}

.meal_content{
  margin-left: 10px;
  text-align: left;
  font-weight: bold;
}

.meal_content_details{
  margin-left: 20px;
}

.grade_page_grade_class{
  border: 3px solid lightcoral;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 5px;;
}

.compartment {
  position: relative;
  margin: 0 auto;
  max-width: 73.75em;
  max-width: 73.75rem; 
}

.assignments_page_container{
  background-color: white;
  width: 1000px;
  height: 90px;
  margin-top: 20px;
  border-radius: 20px;
}

.assignments_big_title{
  font-family: proxima-nova,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;

}

.assignments_page_big_container{
  height: 500px;
  overflow: scroll;
}
.assignments_title{
  font-size: 15px;
  padding-top: 10px;
  margin-left: 10px;
}

.assignments_page_container{
  background: white;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  height: 70px !important;
  z-index: 3;
  transform: translateY(70%);
  overflow: hidden;
}

.assignments_page_container_time{
  border-right: 1px solid black;
  margin-bottom: 40px;
  margin-top: 30px;
  padding-top: 20px;
  margin-left: 10px;
  top: 50px;
  width: 14%;
  font-size:20px;
  z-index: 3;
  margin-right: 20px;
  font-size: 15px !important;
  padding-bottom: 30px;
}


.assignments_page_assignments{
  font-size: 15px !important;
  margin-top: -100px;
  transform: translateX(17%);
  z-index: 3;
  margin-left: 0px;
  font-size: 15px;
}

.assignments_page_detail{
  font-size: 15px !important;
  margin-top: 5px;
  transform: translateX(17%);
  z-index: 3;
  margin-left: 0px;
  font-size: 15px;
  font-weight: 500;
}

.assignments_checkbox{
  position: relative;
  float: right;
  transform: translateY(-55px);
  margin-right: 30px;
}